@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300&display=swap");
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  background-color: rgb(4, 7, 17);
  color: rgb(255, 255, 252);
  width: 100%;
  font-family: "Fredoka", sans-serif;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Nav Bar */
.navbar {
  background-color: rgba(37, 50, 55, 0.5);
  overflow: hidden;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  display: inline-block;
  padding: 14px 16px;
  text-decoration: none;
  color: rgb(255, 255, 252);
  font-size: 1.5em;
}
.navbar a:hover {
  background-color: rgb(1, 97, 90);
}
#bgimage {
  background-image: url(https://images.pexels.com/photos/3374210/pexels-photo-3374210.jpeg?cs=srgb&dl=pexels-stein-egil-liland-3374210.jpg&fm=jpg);
  background-size: cover;
  background-attachment: fixed;
  margin: 0 auto;
  height: 100vh;
}
#header {
  text-align: center;
}
#bio {
  text-align: center;
}

#name {
  position: center;
  margin-top: 30vh;
  font-size: 6em;
}
#pfp {
  border-radius: 50%;
  max-width: 8em;
  max-height: 8em;
  width: 50%;
  float: left;
  margin-left: 20vw;
}
#aboutheader {
  color: rgb(247, 247, 255);
  text-align: center;
}
h1.header {
  margin-top: 40px;
  color: rgb(247, 247, 255);
  text-align: center;
}
#about_bio {
  text-align: center;
  float: none;
  margin: 0 auto;
  max-width: 45vw;
  line-height: 30px;
}
#skills {
  text-align: center;
}
#skheader {
  display: block;
  margin: 0 auto;
}
#profile {
  margin: 0 auto;
  max-width: 50%;
}
#goals {
  display: inline-block;
  padding-left: 0;
  text-align: left;
}
#dlresume {
  background-color: #f7f7ff;
  border: none;
  font-size: larger;
  color: rgb(1, 97, 90);
  font-family: "Fredoka", sans-serif;
  padding: 18px 18px;
  cursor: pointer;
}
#dlresume:hover {
  background-color: rgb(149, 149, 150);
}

#portfolio {
  text-align: center;
  overflow: hidden;
  background-color: rgb(2, 124, 147);
  height: auto;
  padding-bottom: 1vh;
}

#gitpic:hover {
  content: url(images/portfolio/GitHub-Mark-32px.png);
}

.projects {
  display: inline;
  max-width: fit-content;
  text-align: center;
}
#wrdle {
  width: 33%;
  float: left;
  background-color: rgb(2, 124, 147);
}
#wordlesc {
  max-width: 45vw;
  max-height: 45vh;
}

#WorkerSimulation {
  width: 33%;
  float: right;
}
#ccard {
  width: 33%;
  margin: 0 auto;
}
#wrdle ul {
  display: inline-block;
  text-align: left;
}
#PersonalProjects {
  padding: 1vh;
  background-color: rgb(2, 124, 147);
}
#resume {
  text-align: center;
  padding: 1vh;
  background-color: #05142b;
}
.timeline {
  margin: 90px auto;
  width: 360px;
  border-left: 2px solid #ccc;
  padding: 0 20px 0 30px;
}
.tline {
  background-color: #fff;
  color: black;
  padding: 10px 25px;
  font-size: 13px;
  border: 1px solid #ccc;
  line-height: 1.7;
  position: relative;
  height: 110px;
  margin-bottom: 20px;
}
.tline::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #000;
  border: 3px solid #ddd;
  position: absolute;
  top: 10px;
  left: -40px;
}
.tline::after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent #ddd transparent transparent;
  border-width: 8px;
  position: absolute;
  left: -17px;
  top: 10px;
}
.tline h2 {
  margin: 0;
  text-transform: uppercase;
}
.tline h3 {
  margin: 0;
}
.tlineh4 {
  margin: 0;
}
.timeline {
  text-align: left;
}
#contact {
  padding: 1vh;
  text-align: center;
  background-image: url(https://images.pexels.com/photos/3745234/pexels-photo-3745234.jpeg?cs=srgb&dl=pexels-alex-conchillos-3745234.jpg&fm=jpg);
  background-size: cover;
  background-attachment: fixed;
}
#linkedin {
  width: 33%;
  float: left;
}
#mail {
  width: 33%;
  margin: 0 auto;
}
